<!--------------------------------------------------------------------------------------------------------
                NEWGEN SOFTWARE TECHNOLOGIES LIMITED
Group                  :        PES
Project/Product        :        Newgen OAO 
Application            :        Newgen OAO
Module                 :        Resume
File Name              :        otp.component.html
Author                 :        Aditya Agrawal
Date (DD/MM/YYYY)      :        25/02/2019
Description            :        UI to verify otp
-------------------------------------------------------------------------------------------------------
                CHANGE HISTORY
-------------------------------------------------------------------------------------------------------
Problem No/CR No     Change Date     Changed By        Change Description
-------------------------------------------------------------------------------------------------------->

<app-otp (validate)="validateOtp($event)"></app-otp>