<div class="modal-body">
  <h2 class="redirect-heading">Insufficient Funds</h2>
  <p class="para">
    Your request for funding could not be processed. Your account has insufficient funds. Please click OK to choose
    other mode of funding.
  </p>
</div>
<div class="modal-footer">
  <!-- <button type="button" class="btn btn-cancel pull-right" aria-label="Cancel" (click)="cancelRedirection()">
  Cancel
</button> -->
  <button type="button" class="btn btn-select pull-right" aria-label="Ok" (click)="okRedirection()">
    Ok
  </button>
</div>