/*--------------------------------------------------------------------------------------------------------
                NEWGEN SOFTWARE TECHNOLOGIES LIMITED
Group                  :        PES
Project/Product        :        Newgen - OAO
Application            :        Newgen Portal
Module                 :        Core
File Name              :        footer-link.component.scss
Author                 :        Deepak Kumar
Date (DD/MM/YYYY)      :        
Description            :        Styles for footer link page
-------------------------------------------------------------------------------------------------------
                CHANGE HISTORY
-------------------------------------------------------------------------------------------------------
Problem No/CR No     Change Date     Changed By        Change Description
--------------------------------------------------------------------------------------------------------*/

@import '../../../../ccf-oao-assets/scss/mixins.scss';
@import '../../../../ccf-oao-assets/scss/variables.scss';
@import '../../../../ccf-oao-assets/scss/input.scss';
.footer-link {
    &>div {
        margin-bottom: 25px;
        @media (max-width: 575px) {
            margin-bottom: 15px;
        }
    }
    .service-box-inner {
        background: #f5f5f5;
        padding: 15px;
        border: 1px solid $border-color;
        @include prefix(border-radius, 5px);
        height: 100%;
        .inner-text {
            height: calc(100% - 50px);
            .heading {
                // font-size: 15px;
                // margin-bottom: 20px;
                font-size: 16px;
                margin-bottom: 15px;
                color: $heading-color;
            }
        }
    }
}

.broswer-support-msg {
    font-size: 13px;
    margin-bottom: 15px;
}

.modal-header {
    padding: 10px 15px;
    .modal-title {
        font-size: 18px;
        color: $heading-color;
    }
}

@media (max-width:1000px) and (min-width:769px) {
    .service-box-inner {
        h1.sub-heading,
        h2.sub-heading,
        h4.sub-heading,
        h3.sub-heading {
            font-size: 12px;
        }
        .btn {
            &.resume-btn {
                // padding: 8px 5px;
                font-size: 12px;
            }
        }
    }
}

@media(max-width: 1023px) and (min-width: 768px) {
    .footer-link {
        .col-md-4 {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
}