<!--------------------------------------------------------------------------------------------------------
                NEWGEN SOFTWARE TECHNOLOGIES LIMITED
Group                  :        PES
Project/Product        :        Newgen - OAO
Application            :        Newgen Portal
Module                 :        Shared
File Name              :        docu-sign.component.html
Author                 :        Deepak Kumar
Date (DD/MM/YYYY)      :        
Description            :        Template for docu sign page 
-------------------------------------------------------------------------------------------------------
                CHANGE HISTORY
-------------------------------------------------------------------------------------------------------
Problem No/CR No     Change Date     Changed By        Change Description
-------------------------------------------------------------------------------------------------------->

<!-- <page-loader [processingLabel]="true"></page-loader> -->
<!-- <div class="d-flex align-items-center justify-content-center">
    <img class="loading-icon" src="../ccf-oao-assets/images/loader.gif" alt="loader" width="80px" height="80px">
    <p>Please wait while we're processing your application. Kindly do not press BACK or REFRESH button.</p>
</div> -->