/*--------------------------------------------------------------------------------------------------------
                NEWGEN SOFTWARE TECHNOLOGIES LIMITED
Group                  :        PES
Project/Product        :        Newgen - OAO
Application            :        Newgen Portal
Module                 :        assets
File Name              :        main.scss
Author                 :        Deepak kumar
Date (DD/MM/YYYY)      : 
Description            :        imported all scss files in single file.
-------------------------------------------------------------------------------------------------------
                CHANGE HISTORY
-------------------------------------------------------------------------------------------------------
Problem No/CR No     Change Date     Changed By        Change Description
--------------------------------------------------------------------------------------------------------*/

@import 'variables';
@import 'mixins';
@import 'input';
@import 'classes';