/*--------------------------------------------------------------------------------------------------------
                NEWGEN SOFTWARE TECHNOLOGIES LIMITED
Group                  :        PES
Project/Product        :        Newgen - OAO
Application            :        Newgen Portal
Module                 :        assets
File Name              :        input.scss
Author                 :        Deepak kumar
Date (DD/MM/YYYY)      : 
Description            :        styling for all form element that we are using in whole project.
-------------------------------------------------------------------------------------------------------
                CHANGE HISTORY
-------------------------------------------------------------------------------------------------------
Problem No/CR No     Change Date     Changed By        Change Description
--------------------------------------------------------------------------------------------------------*/

.thank-msg_block {
    p {
        font-size: 16px;
    }
}